.opinions{
	padding: 30px 20px;

	.opinions_list{
		display: flex;
		margin: 30px auto;
		flex-direction: column;

		.opinions_list_item{
			margin: 30px auto;
			text-align: center;
			background: rgba(0,0,0,0.1);
			border-radius: 5px;
			padding: 30px 15px;
			background: $orange;

			.opinions_list_item_pict{
				width: 100px;
				height: 100px;
				margin: 5px auto 15px;
				border-radius: 50%;
			}

			.opinions_list_item_txt{
				font-style: italic;
				margin-bottom: 5px;
				line-height: 1.3em;
				color: #fff;
				text-shadow: $textShadow;
			}
			.opinions_list_item_author{
				padding-left: 10px;
				font-size: 0.9rem;
				color: #fff;
				font-weight: 600;
				text-shadow: $textShadow;
			}
		}
	}
}

@media (min-width: 680px) {
	.opinions{
		.opinions_list{
			flex-direction: row;

			.opinions_list_item{
				margin: 0 10px;

				.opinions_list_item_txt{
					margin-bottom: 15px;
				}
			}
		}
	}
}