.contact{
	background: rgba(0,0,0,0.05);
	padding: 30px 20px;

	.contact_content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.contact_content_txt{
			font-size: 1.1rem;
			text-align: center;
			margin: 15px auto 0;
			font-weight: 500;

			&:nth-child(2){
				margin-bottom: 30px;
			}
		}

		.contact_content_link{
			font-size: 1.1rem;
			color: orange;
			padding: 10px;
			border: 1px solid orange;
			border-radius: 30px;
			margin-bottom: 20px;
			transition: 0.5s;
			cursor: pointer;

			&:hover{
				transition: 0.5s;
				background: orange;
				color: #fff;
				cursor: pointer;
			}
		}

	}
}